$background: #ffffff;
$border-nav: #E6E6E6;
$base-color-text: #000000;
$background-green:rgba(104, 183, 56, 0.85);
$main-fonts: 'Oswald', sans-serif;
$second-fonts: 'Arial', sans-serif;
$white: #ffffff;
$button-green: #68B738;
$background-grey:  #F2F2F2;
$special-grey: #444444;
$line-grey: #D9D9D9;
$background-grey: #EAEAEA;
$special-black: #111111;
$border-color: #CDCDCD;
