@font-face {
  font-family: "Oswald";
  src: local("Oswald"), local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-body {
  max-width: 320px;
  margin: 0 auto;
  padding: 0; }

@media (min-width: 768px) {
  .page-body {
    max-width: 768px;
    margin: 0 auto; } }

@media (min-width: 1440px) {
  .page-body {
    max-width: 1440px;
    margin: 0 auto; } }

.page-header__wrapper {
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative; }

.page-header__logo {
  width: 320px;
  height: 66px;
  display: flex;
  border-bottom: 1px solid #e6e6e6; }

.page-header__list {
  display: flex;
  list-style: none;
  justify-content: space-between; }

.page-header__item {
  display: flex;
  align-self: center; }

.navigation-main__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  margin-top: 8px; }

.navigation-main--closed .navigation-main__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; }

.navigation-main--closed .navigation-main__toggle:active::before {
  background-color: fade(#000000, 30%);
  box-shadow: 0 8px 0 0 fade(#000000, 30%), 0 16px 0 0 fade(#000000, 30%); }

.navigation-main--opened .navigation-main__toggle::before, .navigation-main--opened .navigation-main__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #000000; }

.navigation-main--opened .navigation-main__toggle::before {
  transform: rotate(45deg);
  box-shadow: none; }

.navigation-main--opened .navigation-main__toggle::after {
  transform: rotate(-45deg); }

.navigation-main--opened .navigation-main__toggle:active::before, .navigation-main--opened .navigation-main__toggle:active::after {
  background-color: fade(#000000, 30%); }

.page-header__tabletlink,
.page-header__desktoplink {
  display: none; }

.page-header__img1 {
  margin-left: -20px;
  margin-right: 65px; }

.page-header__img2 {
  margin-right: 65px; }

.navigation-main__list {
  width: 320px;
  height: 198px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

.site-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 66px;
  border-bottom: 1px solid #e6e6e6; }

.site-list__item a {
  color: #000000;
  text-decoration: none; }

@media (min-width: 768px) {
  .page-header__wrapper {
    max-width: 768px;
    height: 54px;
    display: flex;
    margin-top: 10px; }
  .page-header__logo {
    border-bottom: none;
    width: 174px;
    height: 52px;
    cursor: pointer;
    margin: 0;
    padding: 0; }
  .navigation-main__toggle,
  .page-header__list {
    display: none; }
  .page-header__tabletlink {
    display: block;
    margin-left: 30px;
    margin-top: 5px; }
  .navigation-main__list {
    width: 594px;
    height: 52px;
    display: flex;
    flex-direction: row;
    flex: wrap;
    font-size: 18px;
    line-height: 24px;
    align-items: center; }
  .site-list__item {
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0; }
    .site-list__item:first-child {
      margin-right: -40px; }
  .site-list__item a {
    padding-bottom: 5px; }
  .site-list__item--active a {
    border-bottom: 2px solid #68b738; } }

@media (min-width: 1440px) {
  .page-header__wrapper {
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: relative; }
  .page-header__logo {
    width: 202px;
    border-bottom: none;
    cursor: pointer;
    margin-top: 82px;
    margin-left: 110px; }
  .navigation-main__toggle,
  .page-header__list,
  .page-header__tabletlink {
    display: none; }
  .page-header__desktoplink {
    display: block; }
  .navigation-main__list {
    width: 720px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 408px;
    background-color: rgba(104, 183, 56, 0.85); }
  .site-list__item {
    border-bottom: none;
    font-size: 20px;
    line-height: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin-left: 45px; }
    .site-list__item:last-child {
      margin-right: 110px; }
  .site-list__item a {
    color: #ffffff; }
  .site-list__item--active a {
    border-bottom: 2px solid #ffffff; } }

@media (max-width: 767px) {
  .navigation-main__form {
    display: none; } }

.promo__wrapper {
  margin: 0 auto;
  max-width: 320px; }

.promo__header {
  width: 320px;
  height: 480px;
  background-image: url("../img/promo-cat.png");
  background-repeat: no-repeat;
  position: relative;
  margin-top: -30px; }

.promo__block1 {
  width: 100%;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85); }

.promo__block2 {
  width: 280px;
  height: 270px;
  position: absolute;
  top: 165px;
  left: 20px;
  background-image: url("../img/promo-bottle.png");
  background-repeat: no-repeat; }

.promo__slogan {
  font-size: 30px;
  line-height: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 27px; }

.promo__intro {
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  padding-top: 5px; }

.promo__site-button {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  border: none;
  position: absolute;
  top: 440px;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 22px; }

@media (min-width: 768px) {
  .promo__wrapper {
    max-width: 768px;
    margin: 0;
    padding: 0; }
  .promo__header {
    width: 768px;
    height: 769px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    padding: 0;
    background-image: none;
    position: relative; }
  .promo__block1 {
    width: 440px;
    height: 160px;
    background-color: #ffffff;
    margin-left: 100px;
    padding: 0; }
  .promo__slogan {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    font-family: "Oswald", sans-serif;
    text-align: start;
    margin: 0;
    padding: 0; }
  .promo__intro {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    text-align: start;
    padding-top: 20px;
    margin: 0; }
  .promo__block2 {
    width: 709px;
    height: 609px;
    display: block;
    background-image: url("../img/bottle-tablet.png");
    margin-top: 20px; }
  .promo__site-button {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 195px;
    left: 80px; } }

@media (min-width: 1440px) {
  .promo__wrapper {
    max-width: 1440px;
    margin: 0;
    padding: 0; }
  .promo__header {
    width: 1440px;
    height: 499px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    border: none;
    background-image: url("../img/cat-desktop-big.png");
    background-position: bottom -60px right;
    margin-top: 95px; }
  .promo__block1 {
    width: 530px;
    height: 499px;
    margin-left: 190px; }
  .promo__block2 {
    width: 720px;
    height: 499px;
    margin: 0;
    background-image: none;
    margin-top: -165px;
    left: 720px;
    background-color: rgba(104, 183, 56, 0.85); }
  .promo__block3 {
    width: 552px;
    height: 499px;
    left: 550px;
    top: 0;
    position: absolute;
    background-image: url("../img/bottle-desktop.png"); }
  .promo__slogan {
    margin-top: 90px;
    margin-bottom: 10px; }
  .promo__site-button {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 295px;
    left: 168px; } }

.choise-programm__wrapper {
  max-width: 320px;
  margin: 0 auto; }

.choise-programm__lost-weight,
.choise-programm__weight-gain {
  width: 280px;
  height: 266px;
  background-color: #eaeaea; }

.choise-programm__lost-weight {
  margin-top: 20px;
  margin-left: 20px; }

.choise-programm__weight-gain {
  margin-top: 20px;
  margin-left: 20px; }

.choise-programm__block1 {
  display: flex;
  margin-left: 22px; }

.choise-programm__img {
  margin-top: 20px; }

.choise-programm__h2 {
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-top: 30px;
  font-weight: normal;
  margin-left: 20px; }

.choise-programm__text1 {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center; }

.choise-programm__line {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
  margin-left: 25px; }

.choise-programm__block2 {
  width: 134px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 19px;
  margin-right: 174px;
  margin-bottom: 22px;
  margin-left: 22px; }

.choise-programm__arrows {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif; }

.choise-programm__block3 {
  display: flex;
  margin-left: 13px; }

.choise-programm__text2 {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: "Arial", sans-serif;
  display: flex;
  margin-top: 22px;
  margin-bottom: 23px;
  margin-left: 25px; }

.choise-programm__h2-two {
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 19px; }

.choise-programm__block4 {
  width: 132px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-left: 22px; }

.choise-programm__img-tablet1,
.choise-programm__img-tablet2,
.choise-programm__img-desktop1,
.choise-programm__img-desktop2 {
  display: none; }

@media (min-width: 768px) {
  .choise-programm__wrapper {
    max-width: 768px;
    height: 774px;
    display: flex;
    flex-direction: column;
    position: relative; }
  .choise-programm__line,
  .choise-programm__img {
    display: none; }
  .choise-programm__lost-weight {
    width: 708px;
    height: 372px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 25px;
    display: flex;
    flex-direction: column; }
  .choise-programm__weight-gain {
    width: 708px;
    height: 372px;
    margin-left: 30px;
    margin-top: 0;
    display: flex;
    flex-direction: column; }
  .choise-programm__h2,
  .choise-programm__h2-two {
    font-size: 36px;
    line-height: 36px;
    margin-top: 77px;
    margin-left: 53px; }
  .choise-programm__text1 {
    width: 377px;
    height: 97px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    margin-left: 73px;
    margin-top: 0; }
  .choise-programm__text2 {
    width: 342px;
    height: 96px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    margin-left: 65px;
    margin-top: 0; }
  .choise-programm__img-tablet1,
  .choise-programm__img-tablet2 {
    display: block;
    position: absolute; }
  .choise-programm__img-tablet1 {
    left: 490px;
    top: 95px; }
  .choise-programm__img-tablet2 {
    left: 450px;
    top: 505px; }
  .choise-programm__block2,
  .choise-programm__block4 {
    width: 165px;
    height: 38px; }
    .choise-programm__block2 .choise-programm__arrows,
    .choise-programm__block4 .choise-programm__arrows {
      font-size: 20px;
      line-height: 30px; }
  .choise-programm__block2 {
    margin-left: 63px;
    margin-top: 25px; }
  .choise-programm__block4 {
    margin-left: 53px;
    margin-top: 25px; } }

@media (min-width: 1440px) {
  .choise-programm__wrapper {
    max-width: 1440px;
    height: 374px;
    display: flex;
    flex-direction: row;
    margin-top: 20px; }
  .choise-programm__lost-weight,
  .choise-programm__weight-gain {
    width: 570px;
    height: 374px; }
  .choise-programm__lost-weight {
    margin-left: 110px;
    margin-top: 41px;
    margin-right: 0; }
  .choise-programm__weight-gain {
    margin-left: 80px;
    margin-top: 41px; }
  .choise-programm__img-tablet1,
  .choise-programm__img-tablet2 {
    display: none; }
  .choise-programm__img-desktop1,
  .choise-programm__img-desktop2 {
    display: block; }
  .choise-programm__img-desktop1 {
    margin: 41px 62px 39px 52px; }
  .choise-programm__img-desktop2 {
    margin: 47px 47px 39px 33px; }
  .choise-programm__h2,
  .choise-programm__h2-two {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    padding: 0; }
  .choise-programm__text1,
  .choise-programm__text2 {
    width: 467px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal; }
  .choise-programm__block2,
  .choise-programm__block4 {
    width: 168px;
    height: 38px; }
    .choise-programm__block2 .choise-programm__arrows,
    .choise-programm__block4 .choise-programm__arrows {
      font-size: 20px;
      line-height: 30px; }
  .choise-programm__block2 {
    margin-left: 63px;
    margin-top: 0; }
  .choise-programm__block4 {
    margin-left: 53px;
    margin-top: 0; } }

.special__wrapper {
  margin: 0 auto;
  max-width: 320px; }

.special__h2-box {
  width: 320px;
  height: 40px; }

.special__h2 {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: normal; }

.special__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 279px;
  height: 300px;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px; }

.special__item {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 60px; }

.special__box {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  position: relative; }

.special__img {
  position: absolute;
  top: 15px;
  left: 13px; }

.special__text-box {
  width: 240px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px; }

.special__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444; }

.special__img-tablet {
  display: none; }

@media (min-width: 768px) {
  .special__wrapper {
    max-width: 768px;
    height: 740px;
    margin-top: -10px;
    margin-bottom: 40px;
    padding: 0;
    border-bottom: 1px solid #e6e6e6; }
  .special__h2-box {
    width: 768px;
    height: 60px;
    margin-bottom: 32px; }
  .special__h2 {
    text-align: left;
    padding-left: 30px;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal; }
  .special__list {
    width: 708px;
    height: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 30px;
    margin-bottom: 40px;
    padding: 0; }
  .special__item {
    width: 249px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("../img/one.png");
    background-repeat: no-repeat;
    background-position: 75% 80%;
    margin-bottom: 10px;
    margin-right: 123px; }
    .special__item:nth-child(2) {
      background-image: url("../img/two.png");
      background-repeat: no-repeat;
      background-position: 100% 70%;
      margin-right: 0;
      margin-left: 0; }
    .special__item:nth-child(3) {
      background-image: url("../img/three.png");
      background-repeat: no-repeat;
      background-position: 80% 85%; }
    .special__item:nth-child(4) {
      background-image: url("../img/four.png");
      background-repeat: no-repeat;
      background-position: 100% 70%;
      margin-right: 0;
      margin-left: 0; }
  .special__img-tablet {
    display: block; }
  .special__img {
    display: none; }
  .special__text-box {
    padding: 0;
    margin-left: 0; }
    .special__text-box:nth-child(1) {
      width: 201px;
      height: 72px;
      margin-top: -30px; }
    .special__text-box:nth-child(2) {
      width: 227px;
      height: 72px;
      margin-top: -30px; }
    .special__text-box:nth-child(3) {
      width: 209px;
      height: 272px;
      margin-top: -35px; }
    .special__text-box:nth-child(4) {
      width: 257px;
      height: 72px;
      margin-top: -30px; }
  .special__text {
    font-size: 16px;
    line-height: 24px; } }

@media (min-width: 1440px) {
  .special__wrapper {
    max-width: 1440px;
    border-bottom: none;
    height: 400px; }
  .special__h2-box {
    width: 1440px;
    height: 60px;
    margin-bottom: 36px;
    margin-top: 120px; }
  .special__h2 {
    text-align: left;
    padding-left: 110px;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal; }
  .special__list {
    width: 1224px;
    height: 280px;
    display: flex;
    flex-direction: row;
    margin-left: 110px;
    padding: 0; }
  .special__item {
    width: 250px;
    height: 280px;
    margin-right: 20px; }
    .special__item:nth-child(3) {
      margin-left: 60px; }
    .special__item:nth-child(4) {
      margin: 0; } }

.example__wrapper {
  margin: 0 auto; }

.example__container {
  width: 320px;
  height: 705px;
  background-color: #eaeaea; }

.example__background-tablet {
  margin-left: 20px; }

.example__h2 {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding-top: 27px; }

.example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444; }

.example__module {
  width: 280px;
  height: 64px;
  display: flex; }

.example__item-text {
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin-top: 5px;
  margin-right: 15px;
  text-align: center; }

.example__h3 {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  margin-top: 15px;
  text-transform: uppercase; }

.example__text-min {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  margin-top: 10px; }

.example__intro-slider {
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px; }

.example__slider {
  width: 311px;
  height: 232px; }

.example__list {
  list-style: none;
  padding: 0; }

.example__img1 {
  margin-top: 21px; }

.example__img2 {
  display: none; }

.example__scale {
  width: 228px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 27px;
  margin-left: 58px; }

.example__button {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  border: none; }

.example__scale-tablet {
  display: none; }

.example__img-tablethalf,
.example__img-desktophalf {
  display: none; }

@media (min-width: 768px) {
  .example__container {
    width: 768px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    position: relative; }
  .example__background-tablet {
    display: block;
    width: 768px;
    height: 500px;
    background-color: #ffffff;
    position: relative;
    margin: 0; }
  .example__h2 {
    width: 325px;
    height: 60px;
    margin-left: 30px;
    margin-bottom: -20px;
    padding: 0; }
  .example__text {
    width: 680px;
    height: 72px;
    margin: 43px 30px 54px 30px;
    padding: 0; }
    .example__text p {
      font-size: 16px;
      line-height: 24px;
      font-family: "Arial", sans-serif;
      font-weight: normal; }
  .example__module {
    width: 708px;
    height: 77px;
    background-color: #ffffff;
    margin-left: 30px;
    margin-top: 54px; }
  .example__item-text {
    width: 162px;
    height: 77px;
    margin-right: 42px;
    margin-top: 0;
    padding: 0;
    border-radius: 3px;
    position: relative; }
  .example__h3 {
    font-size: 30px;
    line-height: 37px;
    padding: 0;
    margin-top: 20px; }
  .example__text-min {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    background-color: #ffffff;
    width: 127px;
    height: 17px;
    padding: 0;
    margin-left: 17px;
    margin-top: -17px; }
  .example__min-tablet {
    width: 100px;
    height: 17px;
    margin-left: 27px;
    padding: 0;
    margin-top: -17px; }
  .example__intro-slider {
    width: 174px;
    height: 77px;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    text-align: right;
    position: absolute;
    top: 225px;
    left: 560px; }
  .example__slider {
    width: 708px; }
  .example__scale-mobile {
    display: none; }
  .example__scale-tablet {
    display: block; }
  .example__scale {
    width: 540px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 410px;
    margin-left: 122px; }
  .example__img1,
  .example__img2 {
    display: none; }
  .example__img-tablethalf {
    position: absolute;
    display: block;
    top: 360px;
    left: 40px; } }

@media (min-width: 1440px) {
  .example__container {
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: row;
    background-color: #eaeaea;
    margin-top: 180px;
    position: relative;
    margin-bottom: -40px; }
  .example__background-tablet {
    width: 436px;
    height: 417px;
    margin-left: 110px;
    background-color: #eaeaea; }
  .example__text {
    width: 436px;
    padding-top: 35px;
    padding-bottom: 50px;
    margin-left: 0; }
  .example__module {
    width: 400px;
    background-color: #eaeaea; }
  .example__img-tablethalf {
    display: none; }
  .example__img-desktophalf {
    display: block;
    position: absolute;
    top: -170px;
    left: 680px; }
  .example__scale {
    margin-left: 180px;
    margin-top: 400px; }
  .example__button {
    font-size: 20px;
    line-height: 30px; }
  .example__h2 {
    width: 325px;
    height: 205px;
    font-size: 60px;
    line-height: 60px;
    position: absolute;
    top: -180px;
    left: -30px; }
  .example__min-tablet,
  .example__text-min {
    background-color: #eaeaea; }
  .example__intro-slider {
    position: absolute;
    width: 436px;
    height: 20px;
    padding: 0;
    margin: 0;
    top: 410px;
    text-align: start;
    left: 40px; } }

.contacts__wrapper {
  margin: 0 auto; }

.contacts__invitation {
  width: 320px;
  height: 114px;
  background-color: #eaeaea;
  display: flex;
  margin-top: -20px; }

.contacts__block1 {
  width: 320px;
  height: 114px;
  margin-top: 14px;
  margin-right: 2px;
  margin-left: 19px; }

.contacts__block2 {
  width: 320px;
  height: 114px;
  margin-top: 14px;
  margin-right: 2px; }

.contacts__h3 {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111; }

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444; }

@media (min-width: 768px) {
  .contacts__invitation {
    width: 768px;
    height: 201px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff; }
  .contacts__block1,
  .contacts__block2 {
    margin: 0;
    padding: 0; }
  .contacts__block1 {
    width: 171px;
    height: 83px;
    font-size: 20px;
    line-height: 21px; }
  .contacts__block2 {
    width: 159px;
    height: 80px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    font-family: "Arial", sans-serif; }
  .contacts__invitation-form {
    width: 768px;
    height: 201px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eaeaea;
    margin: 0; } }

@media (min-width: 1440px) {
  .contacts__wrapper {
    width: 1440px;
    position: relative; }
  .contacts__invitation {
    width: 570px;
    height: 201px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 110px;
    margin: 0; } }

.map__wrapper {
  margin: 0 auto; }

.map__contacts {
  max-width: 320px;
  height: 362px;
  background-image: url("../img/map.png"); }

@media (min-width: 768px) {
  .map__contacts {
    max-width: 768px;
    height: 400px;
    background-image: url("../img/map-tablet.png"); } }

@media (min-width: 1440px) {
  .map__contacts {
    max-width: 1440px;
    height: 400px;
    position: relative;
    background-image: url("../img/map-desktop.png");
    background-repeat: no repeat; } }

.main-footer__wrapper {
  margin: 0 auto; }

.main-footer__block {
  width: 320px;
  height: 226px;
  background-color: #eaeaea;
  margin: 0;
  padding: 0; }

.main-footer__img {
  margin-top: 36px;
  margin-bottom: 20px;
  margin-left: 96px; }

.main-footer__line {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  margin-left: 25px; }

.main-footer__icons {
  width: 130px;
  height: 22px;
  margin-bottom: 20px;
  margin-left: 60px; }

.main-footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between; }

.main-footer__item {
  margin-right: 30px; }

.main-footer__html-logo {
  width: 171px;
  height: 34px;
  margin-top: 22px;
  margin-bottom: -10px;
  margin-left: 75px; }

@media (min-width: 768px) {
  .main-footer__wrapper {
    max-width: 768px;
    height: 150px;
    background-color: #eaeaea;
    padding: 0;
    margin: 0; }
  .main-footer__block {
    width: 708px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    padding-top: 55px; }
  .main-footer__img {
    margin: 0;
    padding: 0; }
  .main-footer__list {
    width: 129px;
    height: 33px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0; }
  .main-footer__item {
    margin-left: -5px;
    padding: 0; }
    .main-footer__item:nth-child(1) {
      margin-top: 10px; }
    .main-footer__item:nth-child(2) {
      margin-top: 10px; }
    .main-footer__item:nth-child(3) {
      margin-top: 5px; }
  .main-footer__line {
    display: none; }
  .main-footer__html-logo {
    width: 163px;
    height: 34px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0; } }

@media (min-width: 1440px) {
  .main-footer__wrapper {
    max-width: 1440px;
    height: 149px; }
  .main-footer__block {
    width: 1440px;
    height: 149px;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0; }
  .main-footer__line {
    display: none; }
  .main-footer__list {
    width: 129px;
    height: 33px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 160px; }
  .main-footer__item {
    margin: 0;
    padding: 0; }
    .main-footer__item:nth-child(1) {
      margin-top: 10px; }
    .main-footer__item:nth-child(2) {
      margin-top: 10px; }
    .main-footer__item:nth-child(3) {
      margin-top: 5px; }
  .main-footer__html-logo {
    width: 163px;
    height: 34px;
    display: flex;
    flex-direction: row;
    margin-left: 325px; } }

.selection-program__wrapper {
  margin: 0 auto; }

.selection-program__h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  padding-top: 14px;
  margin: 0; }

.selection-program__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  padding-top: 17px;
  padding-bottom: 20px;
  margin: 0;
  text-transform: uppercase; }

.selection-program__groupe1,
.selection-program__groupe2,
.selection-program__groupe3,
.selection-program__groupe4 {
  border: none; }

.selection-program__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase; }

input::-moz-placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase; }

input::placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase; }

.selection-program__input-name {
  width: 229px;
  height: 45px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin-top: 19px;
  margin-bottom: 14px;
  margin-left: 13px; }

.selection-program__input-weight {
  width: 204px;
  height: 45px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin-bottom: 14px;
  margin-left: 20px; }

.selection-program__input-age {
  width: 172px;
  height: 45px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin-bottom: 24px;
  margin-left: 21px; }

.selection-program__input-email {
  width: 219px;
  height: 45px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-bottom: 14px;
  margin-left: 12px; }

.selection-program__input-phone {
  width: 204px;
  height: 45px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-left: 12px; }

.selection-program__groupe2 {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr 1fr 1fr; }

.selection-program__text-radio {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-top: 15px;
  margin-left: 15px; }

.selection-program__text-radio-lost {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px; }

.selection-program__wrapper-contacts {
  width: 301px;
  height: 52px;
  display: block;
  position: relative;
  margin-top: 26px;
  margin-bottom: 35px;
  margin-left: 10px; }

.selection-program__h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28px; }

.selection-program__line-green-one {
  width: 99px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  top: 15px;
  right: -9px; }

.selection-program__groupe3 {
  position: relative; }

.selection-program__svg-email {
  position: absolute;
  left: 260px;
  top: 20px; }

.selection-program__svg-phone {
  position: absolute;
  left: 262px;
  top: 78px; }

.selection-program__h2-wrapper-comment {
  width: 301px;
  height: 26px;
  display: block;
  position: relative;
  margin-bottom: 10px; }

.selection-program__line-green-two {
  width: 148px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  top: 152px;
  right: 0; }

.selection-program__textarea {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 260px;
  height: 150px;
  margin-top: 30px;
  margin-left: 17px;
  font-size: 15px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase; }

.selection-program__title3 {
  position: relative;
  margin-bottom: 20px; }

.selection-program__h2-wrapper-other {
  width: 301px;
  height: 26px;
  display: block; }

.selection-program__line-green-three {
  width: 126px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  top: 17px;
  right: 0; }

.selection-program__groupe4 {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

.selection-program__text-checkbox {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 24px; }

.selection-program__block-button {
  position: relative;
  width: 320px;
  height: 110px; }

.selection-program__button {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  border: none;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 22px; }

.selection-program__legend {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 16px; }

@media (min-width: 768px) {
  .selection-program__wrapper {
    width: 768px; }
  .selection-program__form {
    display: flex;
    flex-direction: column;
    position: relative; }
  .selection-program__groupe1 {
    display: flex;
    flex-direction: column; }
  .selection-program__groupe3 {
    display: flex;
    flex-direction: column; }
  .selection-program__groupe4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 525px;
    height: 100px; }
  .selection-program__block-button {
    width: 768px;
    height: 52px;
    display: flex;
    flex-direction: column; }
  .selection-program__legend {
    padding: 0;
    margin: 0; } }

@media (min-width: 1440px) {
  .selection-program__wrapper {
    width: 1440px; }
  .selection-program__form {
    display: flex;
    flex-direction: column; }
  .selection-program__box-desktop {
    display: flex;
    flex-direction: row; }
  .selection-program__groupe1 {
    width: 568px;
    height: 180px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    border: 1px solid #eaeaea;
    margin-top: 20px; }
  .selection-program__groupe2 {
    width: 570px;
    height: 196px;
    border: 1px solid #eaeaea;
    margin-top: 20px; }
  .line {
    display: none; }
  .selection-program__groupe3-item {
    width: 1200px;
    display: flex;
    flex-direction: row;
    position: relative; }
  .selection-program__svg-phone {
    position: absolute;
    top: 5px;
    left: 500px; }
  .selection-program__textarea {
    width: 1200px;
    height: 174px;
    margin: 0;
    padding: 0; }
  .selection-program__groupe4 {
    width: 1200px;
    display: flex;
    flex-direction: row; } }

.line {
  width: 320px;
  height: 1px;
  background-color: #d9d9d9; }

.catalog__wrapper {
  margin: 0 auto; }

.catalog__title {
  width: 320px;
  height: 36px; }

.catalog__h2 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 40px;
  margin: 0; }

.catalog__groupe1 {
  width: 320px;
  height: 190px;
  position: relative; }

.catalog__h3 {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 160px;
  margin: 0;
  text-transform: uppercase; }

.catalog__img1 {
  position: absolute;
  left: 56px;
  top: 36px; }

.catalog__block {
  width: 143px;
  height: 43px;
  display: flex;
  margin-top: -15px;
  margin-left: 160px; }

.catalog__colum1 {
  width: 70px;
  height: 43px;
  margin-right: 65px; }

.catalog__colum2 {
  width: 73px;
  height: 43px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.catalog__text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  margin: 0; }

.catalog__line {
  width: 320px;
  height: 1px;
  background-color: #d9d9d9; }

.catalog__button {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  border: none; }

.catalog__button-container1 {
  width: 320px;
  height: 40px;
  position: relative; }

.catalog__button1 {
  position: absolute;
  top: -30px;
  left: 20px; }

.catalog__groupe2 {
  width: 320px;
  height: 190px;
  position: relative; }

.catalog__img2 {
  position: absolute;
  left: 46px;
  top: 34px; }

.catalog__button-container {
  width: 320px;
  height: 40px;
  position: relative; }

.catalog__button2 {
  position: absolute;
  top: -30px;
  left: 20px; }

.catalog__show-products-block {
  width: 279px;
  height: 178px;
  margin-top: 25px;
  margin-bottom: 28px;
  margin-left: 20px; }

.catalog__show-products-h3 {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px; }

.catalog__show-products-img {
  margin-left: 125px; }

.catalog__show-products-text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 19px; }

.catalog__show-products-button {
  width: 279px;
  height: 60px;
  background-color: #eaeaea;
  border: none;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal; }

.catalog__show-products-line {
  width: 320px;
  height: 1px;
  background-color: #d9d9d9; }

@media (min-width: 768px) {
  .catalog__line {
    display: none; }
  .catalog__title {
    width: 768px;
    height: 60px; }
  .catalog__wrapper {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .catalog__groupe1,
  .catalog__groupe2 {
    width: 324px;
    height: 430px; }
  .catalog__show-products-block {
    width: 324px;
    height: 429px;
    border: 2px solid #eaeaea; }
  .catalog__show-products-line {
    display: none; } }

@media (min-width: 1440px) {
  .catalog__line {
    display: none; }
  .catalog__title {
    width: 1440px;
    height: 60px; }
  .catalog__wrapper {
    width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
  .catalog__groupe1,
  .catalog__groupe2 {
    width: 245px;
    height: 512px; }
  .catalog__show-products-block {
    width: 245px;
    height: 430px;
    border: 2px solid #eaeaea; }
  .catalog__show-products-line {
    display: none; } }

.more-product__wrapper {
  margin: 0 auto; }

.more-product__title {
  width: 320px;
  height: 85px;
  display: flex; }

.more-product__h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  color: #000000;
  padding-top: 5px;
  padding-left: 10px; }

.more-product__line-green {
  width: 53px;
  height: 2px;
  background-color: #68b738;
  margin-top: 40px;
  margin-left: 34px; }

.more-product__line-grey {
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: -5px;
  margin-left: 20px; }

.more-product__block {
  width: 280px;
  height: 129px;
  margin-left: 20px; }

.more-product__h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.more-product__colum {
  width: 280px;
  height: 14px;
  display: flex;
  justify-content: space-between;
  margin-top: -13px; }

.more-product__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  font-family: "Arial", sans-serif; }

.more-product__button {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  border: none;
  margin-top: 35px; }

@media (min-width: 768px) {
  .more-product__wrapper {
    width: 768px;
    height: 556px; }
  .more-product__block {
    min-width: 707px;
    height: 139px;
    margin-top: 0;
    border: 1px solid #cdcdcd; }
  .more-product__button {
    min-width: 632px; }
  .more-product__line-grey {
    display: none; } }

@media (min-width: 1440px) {
  .more-product__wrapper {
    width: 1440px;
    height: 455px; }
  .more-product__block {
    min-width: 895px;
    height: 72px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .more-product__button {
    min-width: 244px;
    height: 40px; }
  .more-product__line-grey {
    display: none; } }

.gift__wrapper {
  margin: 0 auto; }

.gift__block {
  width: 280px;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;
  margin-left: 20px;
  background-image: url("../img/giftphoto.png"); }

.gift__img {
  margin-top: 56px;
  margin-left: 101px; }

.gift__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  padding-top: 20px;
  padding-left: 60px; }

@media (min-width: 768px) {
  .gift__wrapper {
    width: 768px; }
  .gift__block {
    min-width: 708px;
    height: 200px;
    margin-top: 70px; } }

@media (min-width: 1440px) {
  .gift__wrapper {
    width: 1440px;
    position: relative; }
  .gift__block {
    min-width: 245px;
    height: 289px;
    position: absolute;
    top: -515px;
    left: 980px; } }

/*# sourceMappingURL=style.css.map */
