@font-face {
  font-family: "Oswald";
  src: local("Oswald"), local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-body {
  max-width: 320px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .page-body {
    max-width: 768px;
    margin: 0 auto; } }

@media (min-width: 1440px) {
  .page-body {
    max-width: 1440px;
    margin: 0 auto; } }

.page-header__wrapper {
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  background-color: #ffffff; }

.page-header__logo {
  width: 320px;
  height: 66px;
  display: flex;
  border-bottom: 1px solid #e6e6e6; }

.page-header__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }

.page-header__item {
  display: flex;
  align-self: center; }

.page-header__img1 {
  margin-right: 65px; }

.page-header__img2 {
  margin-right: 90px; }

.navigation__list {
  width: 320px;
  height: 198px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

.site-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 66px;
  border-bottom: 1px solid #e6e6e6; }

.site-list__item a {
  color: #000000;
  text-decoration: none; }

@media (min-width: 768px) {
  .page-header__wrapper {
    width: 768px;
    height: 54px;
    display: flex; }
  .page-header__logo {
    height: 52px;
    width: 174px;
    border-bottom: none; }
  .page-header__toggle {
    display: none; }
  .navigation__list {
    width: 440px;
    height: 36px;
    display: flex;
    flex-direction: row; }
  .site-list__item {
    border-bottom: none; } }

@media (min-width: 1440px) {
  .page-header__wrapper {
    width: 1440px;
    height: 60px;
    display: flex;
    flex-direction: row; }
  .page-header__logo {
    width: 225px;
    height: 112px;
    border-bottom: none; }
  .page-header__toggle {
    display: none; }
  .navigation__list {
    width: 448px;
    height: 40px;
    display: flex;
    flex-direction: row; }
  .site-list__item {
    border-bottom: none; } }

@media (max-width: 767px) {
  .navigation__main-form {
    display: none; } }

.promo__wrapper {
  margin: 0 auto; }

.promo__header {
  width: 320px;
  height: 480px;
  background-image: url("../img/promo-cat.png");
  background-repeat: no-repeat;
  position: relative;
  margin-top: -30px; }

.promo__block1 {
  width: 100%;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85); }

.promo__block2 {
  width: 280px;
  height: 270px;
  position: absolute;
  top: 165px;
  left: 20px;
  background-image: url("../img/promo-bottle.png");
  background-repeat: no-repeat; }

.promo__slogan {
  font-size: 30px;
  line-height: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 27px; }

.promo__intro {
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  padding-top: 5px; }

.promo__site-button {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  border: none;
  position: absolute;
  top: 440px;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 22px; }

@media (min-width: 768px) {
  .promo__wrapper {
    width: 768px; }
  .promo__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0; }
  .promo__block1 {
    width: 100%; }
  .promo__block2 {
    width: 420px; } }

@media (min-width: 1440px) {
  .promo__wrapper {
    width: 1440px; }
  .promo__header {
    width: 100%; }
  .promo__block1 {
    width: 100%; }
  .promo__block2 {
    width: 570px; } }

.choise-programm__wrapper {
  margin: 0 auto; }

.choise-programm__lost-weight,
.choise-programm__weight-gain {
  width: 280px;
  height: 266px;
  background-color: #eaeaea; }

.choise-programm__lost-weight {
  margin-top: 20px;
  margin-left: 20px; }

.choise-programm__weight-gain {
  margin-top: 20px;
  margin-left: 20px; }

.choise-programm__block1 {
  display: flex;
  margin-left: 22px; }

.choise-programm__img {
  margin-top: 20px; }

.choise-programm__h2 {
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-top: 30px;
  margin-left: 19px;
  font-weight: normal; }

.choise-programm__text1 {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center; }

.choise-programm__line {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
  margin-left: 25px; }

.choise-programm__block2 {
  width: 134px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 19px;
  margin-right: 174px;
  margin-bottom: 22px;
  margin-left: 22px; }

.choise-programm__arrows {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif; }

.choise-programm__block3 {
  display: flex;
  margin-left: 13px; }

.choise-programm__text2 {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: "Arial", sans-serif;
  display: flex;
  margin-top: 22px;
  margin-bottom: 23px;
  margin-left: 25px; }

.choise-programm__h2-two {
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 19px; }

.choise-programm__block4 {
  width: 132px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-left: 22px; }

@media (min-width: 768px) {
  .choise-programm__wrapper {
    width: 768px;
    height: 774px;
    display: flex;
    flex-direction: column; }
  .choise-programm__lost-weight {
    width: 708px;
    height: 372px; }
  .choise-programm__weight-gain {
    width: 708px;
    height: 372px; } }

@media (min-width: 1440px) {
  .choise-programm__wrapper {
    width: 1440px;
    height: 374px;
    display: flex;
    flex-direction: row;
    margin-top: 20px; }
  .choise-programm__lost-weight,
  .choise-programm__weight-gain {
    width: 570px;
    height: 374px;
    margin: 0; } }

.special__wrapper {
  margin: 0 auto; }

.special__h2-box {
  width: 320px;
  height: 40px; }

.special__h2 {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: normal; }

.special__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 279px;
  height: 300px;
  padding: 0; }

.special__item {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 60px; }

.special__box {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  position: relative; }

.special__img {
  position: absolute;
  top: 15px;
  left: 13px; }

.special__text-box {
  width: 240px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px; }

.special__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444; }

@media (min-width: 768px) {
  .special__list {
    width: 708px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0; } }

@media (min-width: 1440px) {
  .special__list {
    width: 1224px;
    height: 280px;
    display: flex;
    flex-direction: row;
    margin: 0; } }

.example__wrapper {
  margin: 0 auto; }

.example__container {
  width: 320px;
  height: 705px;
  background-color: #eaeaea; }

.example__h2 {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding-top: 27px; }

.example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444; }

.example__module {
  width: 280px;
  height: 64px;
  display: flex; }

.example__item-text {
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin-top: 5px;
  margin-right: 15px;
  text-align: center; }

.example__h3 {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  margin-top: 15px;
  text-transform: uppercase; }

.example__text-min {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  margin-top: 10px; }

.example__intro-slider {
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px; }

.example__slider {
  width: 311px;
  height: 232px; }

.example__list {
  list-style: none;
  padding: 0; }

.example__img1 {
  margin-top: 21px; }

.example__img2 {
  display: none; }

.example__scale {
  width: 228px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 27px;
  margin-left: 58px; }

.example__button {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  border: none; }

@media (min-width: 768px) {
  .example__container {
    width: 768px;
    height: 800px;
    display: flex;
    flex-direction: column; } }

@media (min-width: 1440px) {
  .example__container {
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: row; }
  .example__module {
    width: 436px;
    height: 317px; } }

.contacts__wrapper {
  margin: 0 auto; }

.contacts__invitation {
  width: 320px;
  height: 114px;
  background-color: #eaeaea;
  display: flex;
  margin-top: -20px; }

.contacts__block1 {
  width: 320px;
  height: 114px;
  margin-top: 14px;
  margin-right: 2px;
  margin-left: 19px; }

.contacts__block2 {
  width: 320px;
  height: 114px;
  margin-top: 14px;
  margin-right: 2px; }

.contacts__h3 {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111; }

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444; }

@media (min-width: 768px) {
  .contacts__invitation {
    width: 768px;
    height: 201px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff; }
  .contacts__invitation-form {
    width: 768px;
    height: 201px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eaeaea;
    margin: 0; } }

@media (min-width: 1440px) {
  .contacts__invitation {
    width: 570px;
    height: 201px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    position: absolute;
    z-index: 1; } }

.map__wrapper {
  margin: 0 auto; }

.map__contacts {
  width: 320px;
  height: 362px;
  background-image: url("../img/map.png"); }

@media (min-width: 768px) {
  .map__contacts {
    width: 768px;
    height: 400px;
    background-image: url("../img/map-tablet.png"); } }

@media (min-width: 1440px) {
  .map__contacts {
    width: 1440px;
    height: 400px;
    position: relative;
    background-image: url("../img/map-desktop.png");
    background-repeat: no repeat; } }

.main-footer__wrapper {
  margin: 0 auto; }

.main-footer__block {
  width: 320px;
  height: 226px;
  background-color: #eaeaea; }

.main-footer__img {
  margin-top: 36px;
  margin-bottom: 20px;
  margin-left: 96px; }

.main-footer__line {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  margin-left: 25px; }

.main-footer__icons {
  width: 130px;
  height: 22px;
  margin-bottom: 20px;
  margin-left: 60px; }

.main-footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between; }

.main-footer__item {
  margin-right: 30px; }

.main-footer__html-logo {
  width: 281px;
  height: 34px;
  margin-top: 22px;
  margin-bottom: -10px;
  margin-left: 25px; }

@media (min-width: 768px) {
  .main-footer__block {
    width: 768px;
    height: 150px;
    display: flex;
    justify-content: center; }
  .main-footer__line {
    display: none; } }

@media (min-width: 1440px) {
  .main-footer__block {
    width: 1440px;
    height: 149px;
    display: flex;
    justify-content: space-around; }
  .main-footer__line {
    display: none; } }

.selection-program__wrapper {
  margin: 0 auto; }

.selection-program__h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  padding-top: 14px;
  margin: 0; }

.selection-program__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  padding-top: 17px;
  padding-bottom: 20px;
  margin: 0;
  text-transform: uppercase; }

.selection-program__groupe1,
.selection-program__groupe2,
.selection-program__groupe3,
.selection-program__groupe4 {
  border: none; }

.selection-program__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase; }

input::-moz-placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase; }

input::placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase; }

.selection-program__input-name {
  width: 229px;
  height: 45px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin-top: 19px;
  margin-bottom: 14px;
  margin-left: 13px; }

.selection-program__input-weight {
  width: 204px;
  height: 45px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin-bottom: 14px;
  margin-left: 20px; }

.selection-program__input-age {
  width: 172px;
  height: 45px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin-bottom: 24px;
  margin-left: 21px; }

.selection-program__input-email {
  width: 219px;
  height: 45px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-bottom: 14px;
  margin-left: 12px; }

.selection-program__input-phone {
  width: 204px;
  height: 45px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-left: 12px; }

.selection-program__groupe2 {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr 1fr 1fr; }

.selection-program__text-radio {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-top: 15px;
  margin-left: 15px; }

.selection-program__text-radio-lost {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px; }

.selection-program__wrapper-contacts {
  width: 301px;
  height: 52px;
  display: block;
  position: relative;
  margin-top: 26px;
  margin-bottom: 35px;
  margin-left: 10px; }

.selection-program__h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28px; }

.selection-program__line-green-one {
  width: 99px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  top: 15px;
  right: -9px; }

.selection-program__groupe3 {
  position: relative; }

.selection-program__svg-email {
  position: absolute;
  left: 260px;
  top: 20px; }

.selection-program__svg-phone {
  position: absolute;
  left: 262px;
  top: 78px; }

.selection-program__h2-wrapper-comment {
  width: 301px;
  height: 26px;
  display: block;
  position: relative;
  margin-bottom: 10px; }

.selection-program__line-green-two {
  width: 148px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  top: 152px;
  right: 0; }

.selection-program__textarea {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 260px;
  height: 150px;
  margin-top: 30px;
  margin-left: 17px;
  font-size: 15px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase; }

.selection-program__title3 {
  position: relative;
  margin-bottom: 20px; }

.selection-program__h2-wrapper-other {
  width: 301px;
  height: 26px;
  display: block; }

.selection-program__line-green-three {
  width: 126px;
  height: 2px;
  background-color: #68b738;
  position: absolute;
  top: 17px;
  right: 0; }

.selection-program__groupe4 {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

.selection-program__text-checkbox {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 24px; }

.selection-program__block-button {
  position: relative;
  width: 320px;
  height: 110px; }

.selection-program__button {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  border: none;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 22px; }

.selection-program__legend {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 16px; }

@media (min-width: 768px) {
  .selection__wrapper {
    width: 768px; }
  .selection-program__form {
    display: flex;
    flex-direction: column;
    position: relative; }
  .selection-program__groupe1 {
    display: flex;
    flex-direction: column; }
  .selection-program__groupe3 {
    display: flex;
    flex-direction: column; }
  .selection-program__groupe4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 525px;
    height: 100px; }
  .selection-program__block-button {
    width: 768px;
    height: 52px;
    display: flex;
    flex-direction: column; }
  .selection-program__legend {
    padding: 0;
    margin: 0; } }

@media (min-width: 1440px) {
  .selection__wrapper {
    width: 1440px; }
  .selection-program__form {
    display: flex;
    flex-direction: column; }
  .selection__box-desktop {
    display: flex;
    flex-direction: row; }
  .selection-program__groupe1 {
    width: 568px;
    height: 180px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    border: 1px solid #eaeaea;
    margin-top: 20px; }
  .selection-program__groupe2 {
    width: 570px;
    height: 196px;
    border: 1px solid #eaeaea;
    margin-top: 20px; }
  .line {
    display: none; }
  .selection-program__groupe3-item {
    width: 1200px;
    display: flex;
    flex-direction: row;
    position: relative; }
  .selection-program__svg-phone {
    position: absolute;
    top: 5px;
    left: 500px; }
  .selection-program__textarea {
    width: 1200px;
    height: 174px;
    margin: 0;
    padding: 0; }
  .selection-program__groupe4 {
    width: 1200px;
    display: flex;
    flex-direction: row; } }

.line {
  width: 320px;
  height: 1px;
  background-color: #d9d9d9; }

.catalog__wrapper {
  margin: 0 auto; }

.catalog__h2 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 40px;
  margin: 0; }

.catalog__groupe1 {
  width: 320px;
  height: 190px;
  position: relative; }

.catalog__h3 {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 160px;
  margin: 0;
  text-transform: uppercase; }

.catalog__img1 {
  position: absolute;
  left: 56px;
  top: 36px; }

.catalog__block {
  width: 143px;
  height: 43px;
  display: flex;
  margin-top: -15px;
  margin-left: 160px; }

.catalog__colum1 {
  width: 70px;
  height: 43px;
  margin-right: 65px; }

.catalog__colum2 {
  width: 73px;
  height: 43px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.catalog__text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  margin: 0; }

.catalog__line {
  width: 320px;
  height: 1px;
  background-color: #d9d9d9; }

.catalog__button {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  border: none; }

.catalog__button-container1 {
  width: 320px;
  height: 40px;
  position: relative; }

.catalog__button1 {
  position: absolute;
  top: -30px;
  left: 20px; }

.catalog__groupe2 {
  width: 320px;
  height: 190px;
  position: relative; }

.catalog__img2 {
  position: absolute;
  left: 46px;
  top: 34px; }

.catalog__button-container {
  width: 320px;
  height: 40px;
  position: relative; }

.catalog__button2 {
  position: absolute;
  top: -30px;
  left: 20px; }

.show-products__wrapper {
  margin: 0 auto; }

.show-products__block {
  width: 279px;
  height: 178px;
  margin-top: 25px;
  margin-bottom: 28px;
  margin-left: 20px; }

.show-products__h3 {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px; }

.show-products__img {
  margin-left: 125px; }

.show-products__text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 19px; }

.show-products__button {
  width: 279px;
  height: 60px;
  background-color: #eaeaea;
  border: none;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal; }

.show-products__line {
  width: 320px;
  height: 1px;
  background-color: #d9d9d9; }

.more-product__wrapper {
  margin: 0 auto; }

.more-product__title {
  width: 320px;
  height: 85px;
  display: flex; }

.more-product__h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  color: #000000;
  padding-top: 5px;
  padding-left: 10px; }

.more-product__line-green {
  width: 53px;
  height: 2px;
  background-color: #68b738;
  margin-top: 40px;
  margin-left: 34px; }

.more-product__line-grey {
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: -5px;
  margin-left: 20px; }

.more-product__block {
  width: 280px;
  height: 129px;
  margin-left: 20px; }

.more-product__h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.more-product__colum {
  width: 280px;
  height: 14px;
  display: flex;
  justify-content: space-between;
  margin-top: -13px; }

.more-product__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  font-family: "Arial", sans-serif; }

.more-product__button {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  border: none;
  margin-top: 35px; }

.gift__wrapper {
  margin: 0 auto; }

.gift__block {
  width: 280px;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;
  margin-left: 20px;
  background-image: url("../img/giftphoto.png"); }

.gift__img {
  margin-top: 56px;
  margin-left: 101px; }

.gift__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  padding-top: 20px;
  padding-left: 60px; }

/*# sourceMappingURL=style.css.map */
