.catalog__wrapper {
  @include center;
}

.catalog__title {
  width: 320px;
  height: 36px;
}

.catalog__h2 {
  font-size: 36px;
  line-height: 36px;
  color: $base-color-text;
  font-family: $main-fonts;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 40px;
  margin: 0;
}

.catalog__groupe1 {
  width: 320px;
  height: 190px;
  position: relative;
}

.catalog__h3 {
  font-size: 16px;
  line-height: 20px;
  font-family: $main-fonts;
  font-weight: 400;
  font-style: normal;
  color: $radio;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 160px;
  margin: 0;
  text-transform: uppercase;
}

.catalog__img1 {
  position: absolute;
  left: 56px;
  top: 36px;
}

.catalog__block {
  width: 143px;
  height: 43px;
  display: flex;
  margin-top: -15px;
  margin-left: 160px;
}

.catalog__colum1 {
  width: 70px;
  height: 43px;
  margin-right: 65px;
}

.catalog__colum2 {
  width: 73px;
  height: 43px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.catalog__text {
  font-size: 12px;
  line-height: 16px;
  font-family: $second-fonts;
  font-weight: 400;
  font-style: normal;
  color: $special-grey;
  margin: 0;
}

.catalog__line {
  width: 320px;
  height: 1px;
  background-color: $line-grey;
}

.catalog__button {
  width: 280px;
  height: 40px;
  background-color: $button-green;
  color: $background;
  font-family: $main-fonts;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  border: none;
}

.catalog__button-container1 {
  width: 320px;
  height: 40px;
  position: relative;
}

.catalog__button1 {
  position: absolute;
  top: -30px;
  left: 20px;
}

.catalog__groupe2 {
  width: 320px;
  height: 190px;
  position: relative;
}

.catalog__img2 {
  position: absolute;
  left: 46px;
  top: 34px;
}

.catalog__button-container {
  width: 320px;
  height: 40px;
  position: relative;
}

.catalog__button2 {
  position: absolute;
  top: -30px;
  left: 20px;
}

.catalog__show-products-block {
  width: 279px;
  height: 178px;
  margin-top: 25px;
  margin-bottom: 28px;
  margin-left: 20px;
}

.catalog__show-products-h3 {
  font-size: 16px;
  line-height: 20px;
  font-family: $main-fonts;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px;
}

.catalog__show-products-img {
  margin-left: 125px;
}

.catalog__show-products-text {
  font-size: 12px;
  line-height: 16px;
  font-family: $second-fonts;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 19px;
}

.catalog__show-products-button {
  width: 279px;
  height: 60px;
  background-color: $background-grey;
  border: none;
  color: $special-grey;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: $main-fonts;
  font-weight: 400;
  font-style: normal;
}

.catalog__show-products-line {
  width: 320px;
  height: 1px;
  background-color: $line-grey;
}

@media (min-width: $tablet-width) {
  .catalog__line {
    display: none;
  }

  .catalog__title {
    width: 768px;
    height: 60px;
  }

  .catalog__wrapper {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .catalog__groupe1,
  .catalog__groupe2 {
    width: 324px;
    height: 430px;
  }

  .catalog__show-products-block {
    width: 324px;
    height: 429px;
    border: 2px solid $background-grey;
  }

  .catalog__show-products-line {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog__line {
    display: none;
  }

  .catalog__title {
    width: 1440px;
    height: 60px;
  }

  .catalog__wrapper {
    width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .catalog__groupe1,
  .catalog__groupe2 {
    width: 245px;
    height: 512px;
  }

  .catalog__show-products-block {
    width: 245px;
    height: 430px;
    border: 2px solid $background-grey;
  }

  .catalog__show-products-line {
    display: none;
  }
}
