.choise-programm__wrapper {
  @include center;
}

.choise-programm__lost-weight,
.choise-programm__weight-gain {
  width: 280px;
  height: 266px;
  background-color: $background-grey;
}

.choise-programm__lost-weight {
  margin-top: 20px;
  margin-left: 20px;
}

.choise-programm__weight-gain {
  margin-top: 20px;
  margin-left: 20px;
}

.choise-programm__block1 {
  display: flex;
  margin-left: 22px;
}

.choise-programm__img {
  margin-top: 20px;
}

.choise-programm__h2 {
  font-size: 24px;
  line-height: 37px;
  color: $base-color-text;
  text-transform: uppercase;
  font-family: $main-fonts;
  margin-top: 30px;
  margin-left: 19px;
  font-weight: normal;
}

.choise-programm__text1 {
  font-size: 14px;
  line-height: 18px;
  color: $special-grey;
  font-family: $second-fonts;
  display: flex;
  justify-content: center;
}

.choise-programm__line {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 1px;
  background-color: $line-grey;
  margin-left: 25px;
}

.choise-programm__block2 {
  width: 134px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 19px;
  margin-right: 174px;
  margin-bottom: 22px;
  margin-left: 22px;
}

.choise-programm__arrows {
  text-decoration: none;
  text-transform: uppercase;
  color: $base-color-text;
  font-size: 16px;
  line-height: 16px;
  font-family: $main-fonts;
}

.choise-programm__block3 {
  display: flex;
  margin-left: 13px;
}

.choise-programm__text2 {
  font-size: 14px;
  line-height: 18px;
  color: $special-grey;
  font-family: $second-fonts;
  display: flex;
  margin-top: 22px;
  margin-bottom: 23px;
  margin-left: 25px;
}

.choise-programm__h2-two {
  font-size: 24px;
  line-height: 37px;
  color: $base-color-text;
  text-transform: uppercase;
  font-family: $main-fonts;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 19px;
}

.choise-programm__block4 {
  width: 132px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-left: 22px;
}
