.contacts__wrapper {
  max-width: 320px;
  margin: 0 auto;
}
.contacts__invitation {
  width: 320px;
  height: 114px;
  background-color: $background;
  display: flex;
}

.contacts__block1 {
  width: 320px;
  height: 114px;
  margin:  14px 2px 0px 19px;
}
.contacts__block2 {
  width: 320px;
  height: 114px;
  margin:  14px 2px 0px 0px;
}
.contacts__h3 {
  font-size: 16px;
  line-height: 18px;
  font-family: $main-fonts;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-black;
}
.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-family: $second-fonts;
  font-weight: 400;
  color: $special-grey;
}
