.example__wrapper {
  @include center;
}

.example__container {
  width: 320px;
  height: 705px;
  background-color: $background-grey;
}

.example__h2 {
  font-size: 36px;
  line-height: 40px;
  font-family: $main-fonts;
  font-weight: 400;
  padding-top: 27px;
  padding-left: 20px;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: $second-fonts;
  font-weight: 400;
  color: $special-grey;
  padding-left: 20px;
}

.example__module {
  width: 280px;
  height: 64px;
  display: flex;
  margin-left: 20px;
}

.example__item-text {
  width: 124px;
  height: 56px;
  border: 1px solid $border-color;
  border-radius: 3px;
  margin-top: 5px;
  margin-right: 15px;
  text-align: center;
}

.example__h3 {
  font-size: 24px;
  line-height: 24px;
  font-family: $main-fonts;
  font-weight: 400;
  color: $base-color-text;
  margin-top: 15px;
  text-transform: uppercase;
}

.example__text-min {
  font-size: 12px;
  line-height: 12px;
  font-family: $second-fonts;
  font-weight: 400;
  color: $special-grey;
  margin-top: 10px;
}

.example__intro-slider {
  font-size: 14px;
  line-height: 20px;
  font-family: $main-fonts;
  font-weight: 400;
  color: $base-color-text;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px;
}

.example__slider {
  width: 311px;
  height: 232px;
}

.example__list {
  list-style: none;
}

.example__img1 {
  margin-top: 21px;
  margin-left: -20px;
}

.example__img2 {
  display: none;
}

.example__scale {
  width: 228px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 27px;
  margin-left: 58px;
}

.example__button {
  font-size: 16px;
  line-height: 20px;
  font-family: $main-fonts;
  font-weight: 400;
  color: $base-color-text;
  text-transform: uppercase;
  border: none;
}
