.main-footer__wrapper {
  @include center;
}

.main-footer__block {
  width: 320px;
  height: 226px;
  background-color: $background-grey;
  margin: 0;
  padding: 0;
}

.main-footer__img {
  margin-top: 36px;
  margin-bottom: 20px;
  margin-left: 96px;
  width: 128px;
  height: 24px;

  &:active {
    opacity: 0.3;
  }
}

.main-footer__line {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 1px;
  background-color: $line-grey;
  margin-left: 25px;
}

.main-footer__icons {
  width: 130px;
  height: 22px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.main-footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -5px;
}

.main-footer__item {
  margin-right: 30px;
}

.main-footer__html-logo {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 25px;
  width: 281px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__icon-vk {
  display: block;
  width: 26px;
  height: 26px;
  fill: $icon;

  &:hover {
    fill: $button-green;
}

&:active {
  opacity: 0.3;
}
}

.main-footer__icon-inst {
  display: block;
  width: 20px;
  height: 20px;
  fill: $icon;

  &:hover {
    fill: $button-green;

    &:active {
      opacity: 0.3;
    }
}
}

//!проблема с контуром иконки

.main-footer__icon-facebook {
  display: block;
  width: 20px;
  height: 25px;
  fill: $background-grey;

  &:hover {
    fill: $button-green;
}

&:active {
  opacity: 0.3;
}
}

.main-footer__icon-htmlacademy-text {
  display: block;
  width: 114px;
  height: 18px;
  margin-top: 20px;

  &:active {
    opacity: 0.3;
  }
}

.main-footer__icon-htmlacademy-img {
  display: block;
  width: 27px;
  height: 34px;
  margin-top: 10px;
  stroke: 2px solid black;

  &:hover {
    fill: $button-green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    max-width: 768px;
    height: 150px;
    padding: 0;
    margin: 0;
    background-color: $background-grey;
  }

  .main-footer__block {
    width: 768px;
    height: 50px;
    background-color: $background-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 50px;
  }

  .main-footer__img {
    margin: 0;
    padding: 0;
    margin-top: 14px;
  }

  .main-footer__list {
    width: 159px;
    height: 33px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .main-footer__line {
    display: none;
  }

  .main-footer__html-logo {
    width: 221px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .main-footer__icon-vk {
    width: 29px;
    height: 27px;
  }

  .main-footer__icon-inst {
    width: 23px;
    height: 23px;
    margin-left: 10px;
    margin-top: 4px;
  }

  .main-footer__icon-facebook {
    width: 27px;
    height: 30px;
    padding: 0;
    margin: 0;
    margin-top: -4px;
  }

  .main-footer__icon-htmlacademy-text {
    display: block;
    width: 114px;
    height: 18px;
  }

  .main-footer__icon-htmlacademy-img {
    display: block;
    width: 27px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    max-width: 1440px;
    height: 149px;
  }

  .main-footer__block {
    width: 1440px;
    height: 149px;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  .main-footer__line {
    display: none;
  }

  .main-footer__list {
    width: 129px;
    height: 33px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 160px;
  }

  .main-footer__item {
    margin: 0;
    padding: 0;

    &:nth-child(1) {
      margin-top: 10px;
    }

    &:nth-child(2) {
      margin-top: 10px;
    }

    &:nth-child(3) {
      margin-top: 5px;
    }
  }

  .main-footer__html-logo {
    width: 163px;
    height: 34px;
    display: flex;
    flex-direction: row;
    margin-left: 325px;
  }
}
