.main-footer__wrapper {
  @include center;
}

.main-footer__block {
  width: 320px;
  height: 226px;
  background-color: $background-grey;
}

.main-footer__img {
  margin: 36px 0px 20px 96px;
}

.main-footer__line {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 1px;
  background-color: $line-grey;
  margin: 0px 0px 0px 25px;
}

.main-footer__icons {
  width: 130px;
  height: 22px;
  margin: 0px 0px 20px 60px;
}

.main-footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.main-footer__item {
  margin: 0px 30px 0px 0px;
}

.main-footer__html-logo {
  width: 281px;
  height: 34px;
  margin: 22px 0px -10px 25px;
}