.main-footer__wrapper {
  min-width: 320px;
  background-color: $background-grey;
}

.container {
  @include center;
  max-width: 320px;
}

.main-footer__block {
  height: 226px;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-footer__img {
  margin-top: 36px;
  margin-bottom: 20px;
  margin-left: 96px;
  width: 128px;
  height: 24px;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.main-footer__line {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 1px;
  background-color: $line-grey;
  margin-left: 25px;
}

.main-footer__icons {
  width: 230px;
  height: 22px;
  margin-bottom: 20px;
}

.main-footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 95px;
  padding: 0;
  margin-top: 25px;
  width: 130px;
}

.main-footer__html-logo-mobile {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 175px;
  left: 40px;
}

.main-footer__vk {
  display: block;
  width: 26px;
  height: 26px;
  fill: $icon;

  &:hover {
    fill: $button-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.vk {
  width: 25px;
  height: 25px;
}

.main-footer__inst {
  display: block;
  width: 20px;
  height: 20px;
  fill: $icon;

  &:hover {
    fill: $button-green;

    &:active {
      opacity: 0.3;
    }
  }
}

.main-footer__fb {
  display: block;
  width: 20px;
  height: 25px;
  fill: $background-grey;

  &:hover {
    fill: $button-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__icon-htmlacademy-text {
  display: block;
  width: 114px;
  height: 18px;
  margin-top: 20px;

  &:active {
    opacity: 0.3;
  }
}

.main-footer__icon-htmlacademy-img {
  display: block;
  width: 27px;
  height: 34px;
  margin-top: 10px;
  stroke: 2px solid black;

  &:hover {
    fill: $button-green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .container {
    @include center;
    max-width: 768px;
  }

  .main-footer__wrapper {
    min-width: 768px;
    height: 160px;
    padding: 0;
    background-color: $background-grey;
  }

  .main-footer__block {
    width: 700px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 34px;
    padding: 0;
  }

  .main-footer__img {
    margin: 0;
    padding: 0;
  }

  .main-footer__list {
    width: 139px;
    height: 35px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-top: 5px;
    margin-left: 50px;
  }

  .main-footer__line {
    display: none;
  }

  .main-footer__vk {
    display: block;
    width: 29px;
    height: 17px;
    margin-top: -10px;
    padding: 0;
  }

  .main-footer__inst {
    display: block;
    width: 23px;
    height: 23px;
    margin: 0;
    padding: 0;
  }

  .main-footer__fb {
    display: block;
    width: 13px;
    height: 27px;
    margin-left: -15px;
    margin-top: -5px;
    padding: 0;
  }

  .main-footer__html-logo-mobile {
    width: 200px;
    height: 34px;
    position: absolute;
    top: 160px;
    left: 0px;
  }

  .main-footer__icon-vk {
    width: 29px;
    height: 27px;
  }

  .main-footer__icon-inst {
    width: 23px;
    height: 23px;
    margin-left: 10px;
    margin-top: 4px;
  }

  .main-footer__icon-facebook {
    width: 27px;
    height: 30px;
    padding: 0;
    margin: 0;
    margin-top: -4px;
  }


@media (min-width: $desktop-width) {
  .container {
    @include center;
    max-width: 1440px;
  }

  .main-footer__wrapper {
    min-width: 1440px;
    height: 179px;
    background-color: $background-grey;
    padding: 0;
  }

  .main-footer__block {
    width: 1440px;
    height: 179px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .main-footer__line {
    display: none;
  }

  .main-footer__list {
    width: 159px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .main-footer__item {
    margin: 0;
    padding: 0;
  }

    &:nth-child(1) {
      margin-top: 0px;
    }

    &:nth-child(2) {
      margin-top: 10px;
    }

    &:nth-child(3) {
      margin-top: 5px;

    }
  }

  .main-footer__html-logo-mobile {
    width: 163px;
    height: 44px;
    display: flex;
    position: relative;
    margin-top: -320px;
    margin-left: 0;
    margin-right: 0;
  }
}
