.map__wrapper {
  @include center;
}

.map__contacts {
  width: 320px;
  height: 362px;
  background-image: url("../img/map.png");
}

@media (min-width: $tablet-width) {
  .map__contacts {
    width: 768px;
    height: 400px;
    background-image: url("../img/map-tablet.png");
  }
}

@media (min-width: $desktop-width) {
  .map__contacts {
    width: 1440px;
    height: 400px;
    position: relative;
    background-image: url("../img/map-desktop.png");
    background-repeat: no repeat;
  }
}
