.page-header {
  height: 66px;
}

.page-header__wrapper {
  @include center;
  font-family: $main-fonts;
  background-color: $background;
  border-bottom: 1px solid $border-nav;
}

.page-header__logo {
  width: 280px;
  height: 38px;
  display: flex;
  margin: 13px 30px 14px 20px;
}

.page-header__list {
  display: flex;
  list-style: none;
}

.page-header__item {
  display: flex;
  align-self: center;
}

.page-header__img1 {
  margin: 0px 55px 0px -40px;
}

.page-header__img2 {
  margin: 0px 60px 0px 0px;
}
