.promo__mobile-box {
  min-width: 320px;
  margin-top: -30px;
  margin-bottom: 240px;
  background-image: url("../img/promo-cat.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-cat@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.promo__tablet-box,
.promo__desktop-box {
  display: none;
}

.promo__wrapper {
  min-width: 320px;
  background-color: $background-green;
}

.promo__header {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.promo__block1 {
  width: 100%;
  height: 280px;
  margin: 0;
  padding: 0;
}

.promo__block2 {
  width: 280px;
  height: 270px;
  position: absolute;
  top: 165px;
  left: 20px;
  background-image: url("../img/promo-bottle.png");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-bottle@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.promo__slogan {
  font-size: 30px;
  line-height: 30px;
  font-family: $main-fonts;
  font-weight: 400;
  color: $white;
  text-align: center;
  padding-top: 27px;
}

.promo__intro {
  font-size: 14px;
  line-height: 14px;
  font-family: $main-fonts;
  font-weight: normal;
  color: $white;
  text-align: center;
  padding-top: 5px;
}

.promo__site-button {
  width: 280px;
  height: 40px;
  background-color: $button-green;
  border: none;
  position: absolute;
  top: 420px;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: $main-fonts;
  color: $white;
  text-transform: uppercase;
  margin-left: 22px;
  text-decoration: none;
  text-align: center;
  padding: 0;

  & span {
    display: block;
    margin-top: -8px;
    padding-top: 20px;
  }

  &:hover {
    background-color: $button-green-hover;
  }

  & span:active {
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .promo__mobile-box,
  .promo__desktop-box {
    display: none;
  }

  .promo__tablet-box {
    @include center;
    display: block;
    max-width: 768px;
  }

  .promo__block2 {
    position: relative;
  }

  .promo__wrapper {
    width: 768px;
    padding: 0;
    background-color: $background;
    position: relative;
    margin: 0 auto;
    margin-top: -10px;
    margin-left: 30px;
  }

  .promo__header {
    max-width: 708px;
    height: 769px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    padding: 0;
    position: relative;
    background-color: $background;
    margin-left: 0;
  }

  .promo__block-text {
    width: 440px;
    height: 120px;
    margin-left: 82px;
    padding: 0;
    margin-top: 20px;
  }

  .promo__slogan {
    color: $base-color-text;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    font-family: $main-fonts;
    text-align: start;
    margin: 0;
    padding: 0;
  }

  .promo__intro {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    color: $base-color-text;
    text-transform: uppercase;
    text-align: start;
    padding-top: 20px;
    margin: 0;
    margin-top: 20px;
  }

  .promo__block-bottle {
    width: 709px;
    height: 609px;
    display: block;
    background-image: url("../img/bottle-tablet.png");
    margin-top: 80px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bottle-tablet@2x.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .promo__site-button {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 245px;
    left: 65px;
    font-family: $main-fonts;
    color: $white;
    text-transform: uppercase;
    margin-left: 22px;
    text-decoration: none;
    padding: 0;

    & span {
      display: block;
      padding-top: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    background-color: inherit;
    outline: 2px solid red;
  }

  .promo__desktop-box {
    display: block;
    max-width: 1440px;
    height: 702px;
    margin: 0 auto;
  }

  .promo__tablet-box,
  .promo__mobile-box {
    display: none;
  }

  .promo__header {
    width: 690px;
    height: 702px;
    background-color: $background;
    position: absolute;
    top: -150px;
  }

  .promo__block-text {
    width: 440px;
    height: 120px;
    padding: 0;
    margin-top: 220px;
    margin-left: 110px;
  }

  .promo__slogan {
    color: $base-color-text;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    font-family: $main-fonts;
    text-align: start;
    margin: 0;
    padding: 0;
  }

  .promo__intro {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    color: $base-color-text;
    text-transform: uppercase;
    text-align: start;
    margin: 0;
    margin-top: 20px;
    margin-left: 5px;
  }

  .promo__block-bottle {
    display: block;
    background-image: url("../img/index-can.png");
    position: absolute;
    top: 50px;
    left: 534px;
    width: 552px;
    height: 499px;
    background-repeat: no-repeat;
    z-index: 222222;
  }

  .promo__site-button {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 460px;
    left: 95px;
    font-family: $main-fonts;
    color: $white;
    text-transform: uppercase;
    margin-left: 22px;
    text-decoration: none;
    padding: 0;

    & span {
      display: block;
      padding-top: 24px;
    }
  }
}
