
.choise-programm__wrapper {
  max-width: 320px;
  margin: 0 auto;
}
.choise-programm__lost-weight,
.choise-programm__weight-gain {
  width: 280px;
  height: 266px;
  background-color: $background-grey;
}
.choise-programm__lost-weight {
  margin:  20px 0px 0px 20px;
}
.choise-programm__weight-gain {
  margin:  20px 0px 0px 20px;
}

.choise-programm__block1 {
  display: flex;
  margin:  0px 0px 0px 22px;
}

.choise-programm__img {
  margin:  22px 0px 0px 0px;
}
.choise-programm__h2 {
  font-size: 24px;
  line-height: 37px;
  color: $base-color-text;
  text-transform: uppercase;
  font-family: $fm;
  margin:  30px 0px 0px 19px;
  font-weight: normal;
}

.choise-programm__text1 {
  font-size: 14px;
  line-height: 18px;
  color: $special-grey;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
}

.choise-programm__line {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 1px;
  background-color: $line-grey;
  margin:  0px 0px 0px 25px;
}

.choise-programm__block2 {
  width: 134px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:  19px 174px 22px 22px;
}

.choise-programm__arrows {
  text-decoration: none;
  text-transform: uppercase;
  color: $base-color-text;
  font-size: 16px;
  line-height: 16px;
  font-family: $fm;
}
.choise-programm__block3 {
  display: flex;
  margin:  0px 0px 0px 13px;
}
.choise-programm__text2 {
  font-size: 14px;
  line-height: 18px;
  color: $special-grey;
  font-family: 'Arial', sans-serif;
  display: flex;
  margin:  22px 0px 23px 25px;
}

.choise-programm__h2--two {
  font-size: 24px;
  line-height: 37px;
  color: $base-color-text;
  text-transform: uppercase;
  font-family: $fm;
  font-weight: 400;
  margin:  30px 0px 0px 19px;
}

.choise-programm__block4 {
  width: 132px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:  15px 0px 0px 22px;
}
