.example__wrapper {
  max-width: 320px;
  margin: 0 auto;
}
.exmaple__container {
  width: 320px;
  height: 705px;
  background-color: $background-grey;

}
.example__h2 {
  font-size: 36px;
  line-height: 40px;
  font-family: $fm;
  font-weight: 400;
  padding:  27px 0px 0px 20px;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Arial' sans-serif;
  font-weight: 400;
  color: $special-grey;
  padding:  0px 0px 0px 20px;
}

.example__module {
  width: 280px;
  height: 64px;
  display: flex;
  margin:  0px 0px 0px 20px;


}
.example__item-text {
  width: 124px;
  height: 56px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  margin:  5px 15px 0px 0px;
  text-align: center;

}

.example__h3 {
  font-size: 24px;
  line-height: 24px;
  font-family: $fm;
  font-weight: 400;
  color: $base-color-text;
  margin: 15px 0px 0px 0px;
  text-transform: uppercase;
}

.example__text-min {
  font-size: 12px;
  line-height: 12px;
  font-family: 'Arial';
  font-weight: 400;
  color: $special-grey;
  margin:  10px 0px 0px 0px;
}
.example__intro-slider {
  font-size: 14px;
  line-height: 20px;
  font-family: $fm;
  font-weight: 400;
  color: $base-color-text;
  margin: 15px 0px 0px 0px;
  text-transform: uppercase;
  text-align: center;
  padding:  17px 0px 0px 0px;
}

.example__slider {
  width: 311px;
  height: 232px;
}

.example__list {
  list-style: none;
}

.example__img1 {
  margin:  21px 0px 0px -20px;
}

.example__img2 {
  display: none;
}
.example__scale {
  width: 228px;
  height: 40px;
  display: flex;
  align-items: center;
  margin:  27px 0px 0px 58px;

}

.example__button {
  font-size: 16px;
  line-height: 20px;
  font-family: $fm;
  font-weight: 400;
  color: $base-color-text;
  text-transform: uppercase;
  border: none;

}


